*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background:url("http://www.ivang-design.com/svg-load/parallax/parallax-0.png"); 
   background-color: black;
    background-size: cover no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    position: relative;
    width: auto;
    height: auto;
    padding: 30px;
    border: 2px solid #4adf86;
    border-radius: 20px;
}
.name {
    color: #4adf86;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
}
.under{
  border:1px dashed #4adf86;
  width: 100%;
}
.details{
    padding:20px 0px 0px 0px;
    color:#4adf86;
}
li{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    padding:2px;
}
li::before{
    content:"\00BB";
    padding-right:5px;
}
.contact img{
    width: 55px;
    height: 55px;
    margin-top:10px;
    padding:10px;
}